.footer__box
  .footer__box__up
    %ul.footer__box__up__clearfix
      %li
        = link_to "#" do
          プライバシーポリシー
      %li
        = link_to "#" do
          FURIMA利用規約
      %li
        = link_to "#" do
          特定商取引に関する表記
  .footer__box__middle
    = link_to "#" do
      = image_tag "logo.png", class:"footer__box__middle__image", alt:"FURIMA-white"
  .footer__box__down
    %p.footer__box__down__small
      ©︎FURIMA,Inc,