.wrapper
  = render partial: 'header'
  
  .login-main
    .login-main__center

      .login-main__center__account
        %p アカウントをお持ちでない方はこちら
        .login-main__center__account__no
          = link_to "#" do
            新規会員登録

      .login-main__center__inner
        .login-main__center__inner__default
      
          .login-main__center__inner__default__facebook
            = link_to "#"do
              .login-main__center__inner__default__facebook__icon
                = icon('fab', 'facebook-square')
              .login-main__center__inner__default__facebook__text
                Facebookでログイン

          .login-main__center__inner__default__google
            = link_to "#" do
              .login-main__center__inner__default__google__icon
                = icon('fab', 'google')
              .login-main__center__inner__default__google__text
                Googleでログイン

      .login-main__center__login
        .login-main__center__login__box
          .login-main__center__login__box__default
            %input.login-main__center__login__box__default__form{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}
              .login-main__center__login__box__default__form__text

            %input.login-main__center__login__box__default__form{:name => "password", :placeholder => "パスワード", :type => "password", :value => ""}

            %button.login-main__center__login__box__default__submit{:type => "submit"} ログイン

  = render partial: 'footer'